@{
    ViewData["Title"] = "الصفحة الرئيسية";
}
@*<div class="d-md-flex">*@
<div id="page-wrapper" class="p-4" style="min-height: 641px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">لوحة القيادة</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    @*<div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="card card-primary card-inverse">
                <div class="card-header card-primary">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-9 text-left">
                            <div class="huge">@ViewBag.NumberOfRequestGrade</div>
                            <div>  طلبات العلامات</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-default">
                    <a href="javascript:;">
                        @Html.ActionLink("عرض الطلبات", "DisplayRequest", "RequestsGrades", null, new { @class = "float-sm-left" })
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-green card-inverse">
                <div class="card-header card-green">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-9 text-left">
                            <div class="huge">@ViewBag.NumberOfRequestCourse</div>
                            <div>الدورات المقترحة</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-green">
                    <a href="javascript:;">
                        @Html.ActionLink("عرض الدورات", "Index", "ReqSuggestionCourses", null, new { @class = "float-sm-left" })
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card card-yellow card-inverse">
                <div class="card-header card-green">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-9 text-left">
                            <div class="huge">@ViewBag.NumberOfCourse</div>
                            <div>الدورات التي تم إنشاؤها</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-green">
                    <a href="javascript:;">
                        @Html.ActionLink("عرض الدورات", "IndexRealCourse", "ReqSuggestionCourses", null, new { @class = "float-sm-left" })
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card card-red card-inverse">
                <div class="card-header card-red">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-9 text-left">
                            <div class="huge">20</div>
                            <div> عدد المتدربين</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer card-red">
                    <a href="/Home/Trainees">
                        <span class="float-sm-left">عرض المتدربين </span>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
    <!-- /.row -->
    <div class="row">

        <!-- /.col-lg-8 -->
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
